
body {
    background-color: LavenderBlush;
}

#logo{
    height: 50%;
    width: 50%;
}

.nav-link {
    color: white !important;
    font-size: large;
}


#myList{
    position: relative;
    z-index: 2;
}

.carousel-inner img {
    width: auto;
    height: auto;

  }

.image{
    height: 15rem;
    width: 15rem;
}

.card{
    border: 1px black solid;
    margin-left: 10px;
    margin-bottom: 8px; 
    height: auto;  
}

.card-text{
    padding-top: 4px;
    color: black;
    text-align: center;
    
}
.card-header{
    font-weight: 500;
    font-size: large;

}
#catalog{
    padding-top: 0.5rem;
}


.row{
    align-content: center;
    text-align: center;
}

body {
    background-color: LavenderBlush;
}

#logo{
    height: 50%;
    width: 50%;
}

.nav-link {
    color: white !important;
    font-size: large;
}


#myList{
    position: relative;
    z-index: 2;
}

.carousel-inner img {
    width: auto;
    height: auto;

  }

.image{
    height: 14rem;
    width: 14rem;
    border: 1px solid black;
}

.card{
    border: 1px black solid;
    margin-left: 10px;
    margin-bottom: 8px; 
    height: auto;  
    width: auto;
}

.card-text{
    padding-top: 4px;
    color: black;
    text-align: center;    
}

.card-header{
    font-weight: 500;
    font-size: large;
}

.row{
    align-content: center;
    text-align: center;
}
.desc{
    padding-top: 1px;
    font-size: small;
}

